/* :root{
--border-radius: 10px;
--border-color:#c364f4;    
} */
.bc-rule{
    position:relative;
    display:flex;
    align-items:center;
    justify-content: flex-start;
    gap:20px;
    background:#FFF;
    border:1px solid #000;
    border-radius:var(--border-radius);
    padding: 10px 15px 10px 30px; 
    margin-bottom:16px;
    cursor:pointer;
    transition:.25s;
}

.bc-rule:hover{
    border-color:var(--border-color);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}
.bc-rule input[type="radio"] {
  /* 1. Remove standard browser styling */
  appearance: none;
  -webkit-appearance: none;
  /* 2. Create the circle shape and size */
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ccc;
  outline: none;
  cursor: pointer;
  display: inline-grid;
  place-content: center;
  
}
.bc-rule input[type="radio"]:active{
    outline-offset: 4px !important;
    outline: 2px solid var(--border-color) !important;
}
.bc-rule input[type="radio"]:focus{
    outline-offset: 4px !important;
    outline: 2px solid var(--border-color) !important;
}

/* Radio */

.bc-radio{
    width:34px;
    height:34px;
    border-radius:50%;
    border:3px solid #747d81;
    position:relative;
    flex-shrink:0;

}

/* .bc-rule input:checked + .bc-radio{
    border-color:#b9ff28;
    background:#b9ff28;
    outline-offset: 8px;
    outline: 2px solid #b9ff28;
}

.bc-rule input:checked + .bc-radio:after{
    content:"✓";
    position:absolute;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#081018;
    font-size:20px;
    font-weight:bold;
     outline-offset: 8px;
    outline: 2px solid #b9ff28;
} */


.bc-rule:has(input:checked){
    border-color:var(--border-color);
}
.bc-rule-middle{
    display: flex;
    justify-content: flex-start;
    color: #111827;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    flex-direction:column;
    text-align: left;
}
.bc-rule-middle .bc-rule-middle-small {
    font-size: 13px;
}

.bc-rule-right{
    margin-left: auto;
    text-align: right;
    color: #38383a;
    font-size: 1rem;
    font-weight: 700;  
}
.bc-rule-right .bc-rule-middle-span {
    font-size: 20px;
}
.bc-rule-left{
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 6px 20px;
}
@media (min-width:480px) {
    .bc-rule-left {
        min-width: 75px;
    }
}
.bc-rule-left-small{
    display: block;
    color: #a3a7af;
    font-size: 12px;
    font-weight: 700;
}
.bc-rule-left-strong{
    display: block;
    color: #000;
    font-size: 30px;
    font-weight: 700;
}
.bc-rule-right-small{
    display: block;
    color: #a3a7af;
    font-weight: 700;
    text-decoration: line-through;
    font-size: 16px;
}


@media (max-width:480px) {
    .bc-rule {
        padding: 10px 15px;
    }
    .bc-rule-left {
        padding-left: 0px;
    }
}